<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.backup</string>
    <key>Program</key>
    <string>/usr/local/bin/backup</string>
    <key>StandardErrorPath</key>
    <string>/Users/hideo/Library/Logs/local.backup.log</string>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>4</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
